@model TechCompilerCo.Models.GerarOsViewModel

@{
    ViewData["Title"] = "GerarOS";
}

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <span><b>SUA</b></span><br />
            <span><b>MECÂNICA</b></span>
        </div>

        <div class="col-md-6" style="text-align: right; font-size: 20px">
            <span><b>Gerar Os</b></span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row col-md-12">
        <div class="col-md-2">
            <a class="btn btn-sm btn-primary" href="@Url.Action("New", "GerarOs" )"><i class="fa fa-plus-circle"></i> Novo</a>
        </div>

        <div class="col-md-10 pull-right">
            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-primary pull-right" style="border-radius: 8px"><i class="fa fa-door-open"></i> Voltar</a>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <table class="table col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="MinhaIndex">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Código Os
                    </th>
                    <th>
                        Data Início
                    </th>
                    <th>
                        Data Previsão Término
                    </th>
                    <th>
                        Problema
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        Dados Cliente
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model.OrdensServicos)
                {
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", "GerarOs", new { id = o.CodigoOs } )"><i class="fa fa-edit"></i></a>

                            <a class="btn btn-xs btn-danger" onclick="abrirModalRemoto('@Url.Action("DeletePartial", "GerarOs", new { id = o.CodigoOs } )');"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            @o.CodigoOs
                        </td>
                        <td>
                            @o.DataInicio.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @o.DataPrevisaoTermino.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @o.DescricaoProblema
                        </td>
                        <td>
                            @o.Valor
                        </td>
                        <td>
                            @o.NomeCliente / @o.Documento / @o.Telefone1
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>