@model TechCompilerCo.Models.FornecedoresViewModel

@{
    ViewData["Title"] = "Fornecedores";
}

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <span><b>SUA</b></span><br />
            <span><b>MECÂNICA</b></span>
        </div>

        <div class="col-md-6" style="text-align: right; font-size: 20px">
            <span><b>Fornecedores</b></span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row col-md-12">
        @if (Model.UsuarioAdm)
        {
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="@Url.Action("New", "Fornecedores" )"><i class="fa fa-plus-circle"></i> Novo</a>
            </div>
        }
        else
        {
            <span class="col-md-2"></span>
        }

        <div class="col-md-10 pull-right">
            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-primary pull-right" style="border-radius: 8px"><i class="fa fa-door-open"></i> Voltar</a>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <table class="table col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="MinhaIndex">
            <thead>
                <tr>
                    @if (Model.UsuarioAdm)
                    {
                        <th></th>
                    }
                    <th>
                        Razão Social
                    </th>
                    <th>
                        Nome Fantasia
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Documento
                    </th>
                    <th>
                        Telefone
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Fornecedores)
                {
                    <tr>
                        @if (Model.UsuarioAdm)
                        {
                            <td>
                                <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", "Fornecedores", new { id = f.CodigoFornecedor } )"><i class="fa fa-edit"></i></a>
                                
                                <a class="btn btn-xs btn-danger" onclick="abrirModalRemoto('@Url.Action("DeletePartial", "Fornecedores", new { id = f.CodigoFornecedor } )');"><i class="fa fa-trash"></i></a>
                            </td>
                        }
                        <td>
                            @f.RazaoSocial
                        </td>
                        <td>
                            @f.NomeFantasia
                        </td>
                        <td>
                            @f.Email
                        </td>
                        <td>
                            @f.Documento
                        </td>
                        <td>
                            @f.Telefone1
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>