@model TechCompilerCo.Models.FuncionariosViewModel

@{
    ViewData["Title"] = "Funcionarios";
}

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <span><b>SUA</b></span><br />
            <span><b>MECÂNICA</b></span>
        </div>

        <div class="col-md-6" style="text-align: right; font-size: 20px">
            <span><b>Funcionários</b></span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row col-md-12">
        <div class="col-md-1">
            <a class="btn btn-sm btn-success" href="@Url.Action("Excel", "Funcionarios")"><i class="fa fa-table"></i> Excel</a>
        </div>

        @if (Model.UsuarioAdm)
        {
            <div class="col-md-2">
                <a class="btn btn-sm btn-primary" href="@Url.Action("New", "Funcionarios" )"><i class="fa fa-plus-circle"></i> Novo</a>
            </div>
        }

        <div class="col-md-9">
            <a href="@Url.Action("Menu", "Login")" class="btn btn-sm btn-primary pull-right" style="border-radius: 8px"><i class="fa fa-door-open"></i> Voltar</a>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <table class="table col-md-12 col-sm-3" id="MinhaIndex">
            <thead>
                <tr>
                    @if (Model.UsuarioAdm)
                    {
                        <th></th>
                    }
                    <th>
                        Nome
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Cpf
                    </th>
                    <th>
                        Telefone
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Funcionarios)
                {
                    <tr>
                        @if (Model.UsuarioAdm)
                        {
                            <td>
                                <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", "Funcionarios", new { id = f.CodigoFuncionario } )"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-xs btn-danger" onclick="abrirModalExcluir(@f.CodigoFuncionario)"><i class="fa fa-trash"></i></a>
                            </td>
                        }
                        <td>
                            @f.NomeFuncionario
                        </td>
                        <td>
                            @f.Email
                        </td>
                        <td>
                            @f.Cpf
                        </td>
                        <td>
                            @f.Telefone1
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="dialogExcluir" title="Excluir Funcionário">

    <input type="hidden" id="CodigoFuncionarioModal" />

    <div class="row">
        <div class="col-md-12" style="margin-bottom:20px">
            <p>Deseja realmente excluir o funcionário?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a onclick="excluir($('#CodigoFuncionarioModal').val())" class="btn btn-danger pull-right">Excluir</a>
            <button onclick="$('#dialogExcluir').dialog('close');" class="btn btn-default pull-right" style="margin-right: 5px" type="button">Cancelar</button>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript" asp-append-version="true">
        $(document).ready(function () {
            $('#MinhaIndex').DataTable({
                language: {
                    processing: "Processando...",
                    search: "Pesquisar:",
                    lengthMenu: "_MENU_ resultados por página",
                    info: "Mostrando de _START_ até _END_ <br/> _TOTAL_ registros no total",
                    infoEmpty: "Mostrando de 0 até 0 <br/> 0 registros no total",
                    infoFiltered: "(filtrados de _MAX_ registros no total)",
                    infoPostFix: "",
                    loadingRecords: "Carregando...",
                    zeroRecords: "Nenhum registro encontrado",
                    emptyTable: "Nenhum registro encontrado",
                    paginate: {
                        first: "Primeiro",
                        previous: "Anterior",
                        next: "Próximo",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: "Ordenar colunas de forma ascendente",
                        sortDescending: "Ordenar colunas de forma descendente"
                    }
                }
            });

            $('#dialogExcluir').dialog({
                autoOpen: false,
                maxWidth: 500,
                width: $(window).width() * 0.5,
                height: $(window).height() * 0.3,
                modal: true
            });
        });

        function abrirModalExcluir(id, nome) {
            $('html, body').animate({ scrollTop: 0 }, 0);
            $('#dialogExcluir').dialog('open');

            $('#CodigoFuncionarioModal').val(id);
        }

        function excluir(id) {
            $.ajax({
                url: '/Funcionarios/Delete',
                type: 'POST',
                data: {
                    id: id
                },
                success: function (s) {
                    document.location.reload();
                    console.log('Sucesso!');
                },
                error: function (e) {
                    alert('Erro ao Excluir Funcionário!');
                    console.log(e);
                }
            });
        }
    </script>

}