@model TechCompilerCo.Models.ClientesViewModel

@{
    ViewData["Title"] = "Clientes";
}

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <span><b>SUA</b></span><br />
            <span><b>MECÂNICA</b></span>
        </div>

        <div class="col-md-6" style="text-align: right; font-size: 20px">
            <span><b>Clientes</b></span>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row col-md-12">
        <div class="col-md-2">
            <a class="btn btn-sm btn-primary" href="@Url.Action("New", "Clientes" )"><i class="fa fa-plus-circle"></i> Novo</a>
        </div>

        <div class="col-md-10">
            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-primary pull-right" style="border-radius: 8px"><i class="fa fa-door-open"></i> Voltar</a>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row">
        <table class="table col-md-12 col-sm-3" id="MinhaIndex">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Documento
                    </th>
                    <th>
                        Telefone
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Clientes)
                {
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", "Clientes", new { id = c.CodigoCliente } )"><i class="fa fa-edit"></i></a>
                            
                            <a class="btn btn-xs btn-danger" onclick="abrirModalRemoto('@Url.Action("DeletePartial", "Clientes", new { id = c.CodigoCliente } )');"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            @c.NomeCliente
                        </td>
                        <td>
                            @c.Email
                        </td>
                        <td>
                            @c.Documento
                        </td>
                        <td>
                            @c.Telefone1
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>